html {
    scroll-behavior: smooth;
}

body {
    padding: 0px;
    margin: 0px;
}

/*DEFININDO DESIGN ABERTO ACIMA DE 900PX
@media only screen and (min-device-width: 900px) {
    .BttTitle { color:white; } 
}*/

.Link {
    text-decoration: none;
}

.Menu {
    z-index: 999;
    background-color: #0A2337;
    position: fixed;
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, .5);
    transition: .5s;
}

.Logo {
    width: 70px;
    margin-left: 200px;
}

.Options {
    margin-right: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Opt {
    color: white;
    font-family: 'Century Gothic' ,'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    flex-direction: row;
    align-items: center;
    padding: 0px;
}

.Opt:hover {
    cursor: pointer;
}

.MenuDivider {
    width: 1px;
    height: 20px;
    background-color: #f9b233;
    margin: 0px 15px 0px 15px
}

.SocialIcon {
    width: 22px;
    margin-right: 5px;
}

.SocialIcon:hover {
    cursor: pointer;
}

.Banner {
    z-index: 0;
    padding-top: 100px;
    background-image: url('images/BANNER SITE DESKTOP.png');
    background-size: 100%;
    background-repeat: repeat-y;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.Item1Banner {
    width: 250px;
    margin-right: 200px;
}

.Item2Banner {
    width: 300px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.Title {
    color: white;
    font-family: 'Bebas Neue';
    font-weight: 100;
    font-size: 50px;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

.Subtitle {
    color: white;
    font-family: 'Century Gothic';
    font-size: 14px;
    font-weight: 100;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

.OrcamentoBtt {
    margin-top: 20px;
    margin-bottom: 10px;
    padding-top: 4px;
    width: 80%;
    height: 40px;
    background-color: #ea531c;
    border-width: 0px;
    border-radius: 5px;
    color: white;
    font-family: 'Bebas Neue';
    font-weight: 100;
    font-size: 25px;
    box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, .5);
    transition: .5s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.OrcamentoBtt:hover {
    opacity: .75;
    cursor: pointer;
}

.OrcamentoBtt:focus {
    outline: 0px;
}

.SemCompromisso {
    color: white;
    font-family: 'Century Gothic';
    font-size: 10px;
    font-weight: 50;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

.BttsToPages {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 110px;
}

.BttToPage {
    width: 20%;
    height: 300px;
    border-width: 0px;
    border-radius: 10px;
    background-color: #ededed;
    background-size: 100px;
    margin: 10px;
    margin-top: 30px;
}

.BttToPage:focus {
    border-width: 0px;
    outline: 0px
}

.BttToPage:hover {
    cursor: pointer
}

.IconImage {
    width: 70%;
    max-width: 200px;
    margin-top: -200px;
}

.BttTitle {
    font-family: 'Bebas Neue';
    font-weight: 100;
    font-size: 30px;
    color: #0A2337;
}

.BttSubtitle {
    font-family: 'Century Gothic';
    font-size: 16px;
    font-weight: lighter;
    color: #878787;
}

.AEmpresa {
    padding: 0px 200px 0px 200px;
    margin-top: 50px;
}

.DivTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Separator {
    height: 50px;
    width: 1px;
    background-color: #0A2337; 
    margin-right: 20px;
}

.DivTitleText {
    font-family: 'Century Gothic';
    font-size: 30px;
    font-weight: lighter;
    color: #f9b233;
}

.TextAbout {
    font-family: 'Century Gothic';
    font-size: 16px;
    font-weight: lighter;
    color: #878787;
}

.Boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.AboutBox {
    margin-top:20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 50px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    background-color: #ededed;
    border-radius: 10px;
}

.AboutBoxTitle {
    font-family: 'Century Gothic';
    font-size: 25px;
    font-weight: lighter;
    color: #0A2337;
}

.AboutBoxText {
    text-align: center;
    font-family: 'Century Gothic';
    font-size: 16px;
    font-weight: lighter;
    color: #878787;
}

.PortBottom {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.AboutPortBottom {
    text-align: center;
    font-family: 'Century Gothic';
    font-size: 14px;
    font-weight: lighter;
    color: #0A2337;
    margin-right: 20px;
}

.SocialIconPortBottom {
    width: 30px;
    margin: 5px;
}

.ContatoText {
    font-family: 'Century Gothic';
    font-size: 16px;
    font-weight: lighter;
    color: #878787;
    margin-bottom: 30px;
}

.ContactBoxes {
    width: 50%;
    min-width: 450px;
}

.ContactInfo {
    display: flex;
    flex-direction: row;
    background-color: #ededed;
    border-radius: 5px;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;
    padding: 10px;
}

.Qrcode {
    width: 80px;
    margin-left: 20px;
    margin-right: 20px;
}

.ContactIcon {
    width: 50px;
    margin-right: 30px;
}

.AboutContactInfo {
    font-family: 'Century Gothic';
    font-size: 16px;
    font-weight: lighter;
    color: #878787;
    text-decoration: none;
}

.ContactArea {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.Marca {
    width: 40%;
    align-self: center;
    margin-left: 50px;
}

.Rodape {
    margin-top: 100px;
    padding-right: 200px;
    padding-left: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #575756;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.RodapeAbout {
    color: #ededed;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.RodapeImg {
    width: 50px;
}

.Pictures {
    line-height: 0;
    -webkit-column-count: 3;
    -webkit-column-gap: 5px;
    -moz-column-count: 3;
    -moz-column-gap: 5px;
    column-count: 3;
    column-gap: 5px;
    row-gap: 5px; 
    grid-auto-flow: dense;
}

.f5 {
    width: 100% !important;
    height: auto !important;
}

.f6 {
    width: 100% !important;
    height: auto !important;
}

.f12 {
    width: 100% !important;
    height: auto !important;
}

.f18 {
    width: 100% !important;
    height: auto !important;
    grid-column-end: span 2;
    grid-column-end: span 2;
}

.f14 {
    width: 100% !important;
    height: auto !important;
}

.f2 {
    width: 100% !important;
    height: auto !important;
}

.f4 { 
    width: 100% !important;
    height: auto !important;
}

.f3 {
    width: 100% !important;
    height: auto !important;
}

.f13 {
    width: 100% !important;
    height: auto !important;
}


.f28 {
    width: 100% !important;
    height: auto !important;
}

.f7 {
    width: 100% !important;
    height: auto !important;
}

.f17 {
    width: 100% !important;
    height: auto !important;
}

.f1 {
    width: 100% !important;
    height: auto !important;
}

.f23 {
    width: 100% !important;
    height: auto !important;
}

.MarginTop {
    margin-bottom: 80px;
}